
body {
    margin: 0;
    padding: 0;
    background-image: url(./images/fondo2.jpg);
    background-position: center;
    background-size: cover;
  }
  #start-btn {
    background-color: black;
    color: red;
    padding: 15px;
    font-size: 15px;
    font-family: monospace;
    font-weight: bold;
    border-radius: 10px;
    position: absolute;
    top: 1010px;
  }
  #restart-btn {
    background-color: black;
    color: red;
    padding: 15px;
    font-size: 23px;
    font-family: monospace;
    font-weight: bold;
    border-radius: 10px;
    position: flex;
    top: 75px;
    left: 800px;
    display: none;
  }
.global{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
  }
#game-box{
    background-color: black;
    width: 900px;
    height: 800px;
    position: relative;
    user-select: none;
    background-image: url(./images/universo.jpg);
    background-position: center;
    background-size: cover;
    padding: 0;
    margin: 0;
    overflow: hidden;

}
#game-box * {
    pointer-events: none;
    
}
#start-screen h1 {
    font-size: 55px;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    padding-bottom: 0;
    line-height: 0.5;
    color: whitesmoke;
}
#gameover {
    display: none;
}
#timer {
  line-height: 0;
  padding-top: 0;
  padding-bottom: 0;
  margin-bottom:20px;
  margin-top: 20px;
  padding-bottom: 0;
  font-size: 50px;
  color: yellowgreen;
  display: flex;
}
#game-screen {
  margin:0;
  padding:0;
  overflow: hidden;
}
#game-over-screen{
  display: none;
  width: 900px;
  height: 800px;
  position: absolute;
  user-select: none;
  background-image: url(./images/final.jpg);
  background-position: center;
  background-size: cover;
  padding: 0;
  margin: 0;
}
#instrucciones{
  display: block;
  width: 900px;
  height: 800px;
  position: absolute;
  user-select: none;
  background-image: url(./images/start.jpg);
  background-position: center;
  background-size: cover;
  padding: 0;
  margin: 0;
}
#win-screen {
  display: none;
  width: 900px;
  height: 800px;
  position: absolute;
  user-select: none;
  background-image: url(./images/win.jpg);
  background-position: center;
  background-size: cover;
  padding: 0;
  margin: 0;
}
#score {
  display: flex;
  font-size: 30px;
  color: blue;
  position: absolute;
}

/*RANGER SLIDER FROM w3*/
/* https://www.w3schools.com/howto/howto_js_rangeslider.asp */



.slidecontainer {
  width: 100px; /* Width of the outside container */
  display: flex;
  justify-content:flex-start;
  position:absolute;
  left: 300px;
  top:1020px;
  align-items: center;

}
.slidecontainer label{
  margin-right: 20px;
}

/* The slider itself */
.slider {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 70px; /* Full-width */
  height: 5px; /* Specified height */
  background: #d3d3d3; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
  border-radius: 5px;
  

}

/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 20px; /* Set a specific slider handle width */
  height: 20px; /* Slider handle height */
  background: #04AA6D; /* Green background */
  cursor: pointer; /* Cursor on hover */
  border-radius: 50%;
}

.slider::-moz-range-thumb {
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #04AA6D; /* Green background */
  cursor: pointer; /* Cursor on hover */
}
.volume-label {
  font-size: 18px;
  margin-right: 10px;
  color: whitesmoke;
}
